body {
	font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: none;
    color:#000;
}


canvas {
		position:absolute;
		z-index:0;
		margin:0;
		padding:0;
		border:0;
}

div.emotion-select-bar {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
	margin:0;
	padding:10px 0 0 0;
	background-color:#fff;
	border-top:1px solid #ccc;
}

.emotion-select-bar a {
	color:#000;
	text-decoration:none;
	width:14.28%;
	height:50px;
	float:left;
	display:block;
	padding:0;
	margin:0;
	text-align: center;
	border-bottom:10px solid #000;
}

.emotion-select-bar a:hover {

}

.emotion-select-bar a.active {
	border-bottom:10px solid #39b54a;
}

#navigation {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    height:100px;
    border-bottom:1px solid #000;
    background-color: rgba(255, 255, 255, 0.9);
}

#navigation ul#select {
    border:none;
    height:100px;
    width:200px;
    padding:20px;
    margin:0;
    list-style: none;
}

#navigation ul#select li,
#navigation ul#select li.active {
    border:none;
    height:20px;
    width:200px;
    padding:20px;
    margin:0;
    cursor: pointer;
}

#navigation ul#select li.hidden {
     height:0px;
     margin:0;
     padding:0;
     display:none
 }


#navigation ul#select li a{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3;
}

#navigation ul#select li:hover,
#navigation ul#select li:hover a{
    background-color: #39b54a;
    color:#fff;
}

#parameter-sliders  {
    padding:30px;
    width:300px;
    z-index:1;
    position:absolute;
    left:0;
    top:200px;
    background-color: #fff;
}

#parameter-sliders div  {
    margin:10px 0 0 0;
    height:30px;
}


#parameter-sliders img {
    float:left;
    width:30px;
    height:30px;
    margin:0;
    padding:0;
}

#parameter-sliders input[type=range] {
    border:none;
    -webkit-appearance: none !important;
    background:#39b54a;
    height:1px;
    width:200px;
    float:left;
    margin:14px 20px 0 20px;
    padding:0;
}

#parameter-sliders input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #39b54a;
    width: 5px;
    height: 15px;
}